.neydi {
  background-image: src();
}
.imgesler:hover {
  filter: grayscale(0) !important;
}

#cardshodaw {
  transition: 0.3s;
  border-radius: 8px;
}

#cardshodaw:hover {
  box-shadow: 0px 0px 19px rgb(0, 0, 0, 0.4);
  cursor: pointer;
  border-radius: 8px;
}

#buttons:hover {
  border: 1px solid #0a58ca !important;
  background-color: #0d6efd;
  color: white !important;
}

#buttons {
  color: black;
  border: 1px solid black;
}

#buttonpopler {
  position: absolute;
  right: 0;
  top: 0;
}

#box:hover {
  cursor: pointer !important;
}

#box:hover #boxsvg {
  background-color: #388da3 !important;
}
#box:hover svg {
  color: white !important;
}

#box:hover #boxp {
  color: #388da3 !important;
}
 #loremback :hover{ background-color: #f7fcff ;
  cursor: pointer;
  
 }
 #buttonarrow-rightup:hover svg{
  transition: all 0.5ms ease-in-out;
  transform: translateX(10px);
 }

#buttonarrow-rightup{
 transition: 1ms;
 
}